p {
    color: black;
    border: 3px solid white;
    display: block;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: arial;
    font-size: xx-large;
}

.cell {
    border: 5px solid rgb(249, 249, 249);
    height: 40px;
    width: 40px;
}

.alive {
    background-color: rgb(26, 196, 85);
    color: rgb(26, 196, 85);
}

.dead {
    background-color: rgb(36, 36, 36);
    color: rgb(36, 36, 36);
}