.cell {
    border: 5px solid white;
    height: 40px;
    width: 40px;
}

.alive {
    background-color: #26e485;
    color: #26e485;
}

.dead {
    background-color: rgb(36, 36, 36);
    color: rgb(36, 36, 36);
}

header { 
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #EDEDED;
    margin-bottom: 5px;
}

header a {
    flex-grow: 1;
    display: flex;
}

header .logo {
    display: block;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: 10px;
} 

header nav ul {
    display: flex;
    list-style-type: none;
}

.container {
    position: sticky;
}

header button {
    border: 0;
    background-color:rgb(36, 36, 36);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

li {
    margin: 5px;
    margin-top: 10px;
}

span {
    visibility: hidden;
}

.start {
    background-image: url('../img/icon-play.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 23px;
    padding: 25px;
}

.pause {
    background-image: url('../img/icon-pause.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 23px;
    padding: 25px;
}

.next {
    background-image: url('../img/icon-next.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 23px;
    padding: 25px;
}

.randomize {
    background-image: url('../img/icon-randomize.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 23px;
    padding: 25px;
}

.reset {
    background-image: url('../img/icon-reload.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 13px;
    height: 23px;
    padding: 25px;
}

